.other_city-link {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid #DDDDDD;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.other_city-link:hover {
  background-color: #F2F2F2;
}

.sp-only {
  display: none;
}
.pc-only {
  display: block;
}

.other_city-link.pc-only {
  display: flex;
}

.girdTextLink.pc-only {
  display: flex;
}

.mvNav__item.pc-only {
  display: flex;
}

@media screen and (max-width:767px) {
  .sp-only {
    display: block;
  }
  .pc-only {
    display: none;
  }

  .other_city-link.sp-only {
    display: flex;
  }

  .girdTextLink.sp-only {
    display: flex;
  }

  .mvNav__item.pc-only {
    display: none;
  }

  .girdTextLink.pc-only {
    display: none;
  }

  .other_city-link.pc-only {
    display: none;
  }
}

.section-button {
  margin-top: 20px;
}

.departure-info {
  margin-top: 40px;
}

.breadcrumb__item:last-child > a {
  pointer-events: none;
}



.mvNav__item--dropdown {
  cursor: default;
}

.mvNav__item--dropdown:hover {
  background: unset;
  color: unset;
}

.mvNav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.js-nav-fallback {
  display: none;
}

.js-nav-fallback.sticky {
  display: block;
  width: 100%;
  height: 64px;
}


.mvNav__dropdown {
  background: #F2F2F2;
  position: relative;
  width: 120px;
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mvNav__dropdown:hover {
  background-color: #ddd;
}

.mvNav__dropdown::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('https://www.his-j.com/cmn/icon/icon_arrow_down.svg') no-repeat;
  background-size: contain;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mvNav__dropdown-list {
  position: absolute;
  display: none;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 150px;
  z-index: 1;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #333;
}

.mvNav__dropdown-link {
  color: #333;
  text-decoration: none;
  padding: 6px 20px 4px;
  cursor: pointer;
}

.mvNav__dropdown-link:hover {
  background-color: #2488FF;
  color: #fff;
}

.mvNav__dropdown-link.is-active {
  background-color: #2488FF;
  color: #fff;
}

.mvNav__dropdown span {
  width: 100%;
  cursor: pointer;
}

.related_info-tag {
  background-color: #F5F7FA;
  border-radius: 30px;
  color: #333;
  font-size: 14px;
  width: 300px;
  padding: 5px 0;
  text-align: center;
  margin: 20px auto 0;
  font-weight: bold;
}

.related_info-tag + .grid-row--noGutter {
  margin-top: 20px;
}

.grid-row--noGutter + .related_info-tag {
  margin-top: 54px;
}

.card {
  position: relative;
}

.card__heading {
  font-weight: bold;
}

.text-ellipsis {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.js-flight {
  margin-top: 50px;
}

.heading--sm {
  font-size: 20px;
}

.heading--sm span {
  font-size: 10px;
  color: #6A6A6A;
}

.rec-articles .heading--sm {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.grid-col2__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .grid-col2__slider__wrap {
  margin-bottom: 80px;
} */

.grid-col2__wrap .grid-col2__list {
  width: calc((100% - 16px)/ 2);
  margin: 0 8px 8px 0;
}

.grid-col2__wrap .grid-col2__list > a {
  display: block;
  padding: 16px;
  border: 1px solid #95989A;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.grid-col2__wrap .grid-col2__list > a:hover {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 741px) {
  .grid-col2__wrap .grid-col2__list > a {
      background: url(https://www.his-j.com/cmn/icon/icon_arrow_right.png);
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-position: right center;
  }
}

.grid-col2__wrap .grid-col2__list > a .grid-col2__title {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

.grid-col2__wrap .grid-col2__list > a .grid-col2__title {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  font-weight: bold;
}

.grid-col2__wrap .grid-col2__list > a .grid-col2__title {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

.grid-col2__wrap .grid-col2__list > a .grid-col2__text-bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-col2__wrap .grid-col2__list > a .grid-col2__text-bottom-wrap .grid-col2__text4 {
  font-size: 20px;
  font-size: 18px;
  color: #F01C1C;
}

.tagList__text {
  display: none;
  margin: 0 6px 8px 0;
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid #888888;
}

.tagList__text.trf, .tagList__text.meal,
.tagList__text.imp, .tagList__text.imp2,
.tagList__text.line, .tagList__text.youtube,
.tagList__text.np {
  display: block;
}

.tagList__text.color--green {
  background-color: #00B900;
  border-color: transparent;
  color: #fff;
}

.tagList__text.color--red {
  background-color: #FE0000;
  border-color: transparent;
  color: #fff;
} 

.grid-col__body {
  flex: unset;
}


.heading--md {
  margin-top: 10px;
}

.sightseeing-spot .heading--md {
  margin-top: 16px;
}

.sightseeing .align-center {
  margin-top: 32px;
}

a.button.button--twoLine {
  padding: 30px 28px;
  border-radius: 33px;
}

.button.js-optionTourLink {
  max-width: 240px;
}

.card--narrow .card__inner {
  padding: 14px;
}

.card__inner {
  padding: 14px;
}

.card__imgContainer + .tagList {
  padding: 0 14px;
}

.tour .card--bottomPrice {
  padding-bottom: 66px;
}

.airhotel .card--bottomPrice {
  padding-bottom: 0;
}

.airticket .icon--home {
  font-size: 12px;
}

.airticket .card {
  padding-bottom: 36px;
}

.airticket .card__bottomItem {
  bottom: 10px;
  left: 14px;
}

.airticket .grid-col2__wrap .grid-col2__list > a {
  padding-right: 15px;
}

.airticket .grid-col2__wrap .grid-col2__list > a .grid-col2__title {
  font-size: 15px;
}

.airticket .grid-col2__wrap:has(> :nth-child(2)) {
	justify-content: flex-start;
}

.airticket .grid-col2__slider__wrap + .slideCardList__container{
  margin-top: 80px;
}

.airticket .js-check[style*="display: none;"] + .slideCardList__container {
  margin-top: 0;
}

.recommended-articles .imgContainer--full {
  width: 100%;
  height: 129px;
}

.recommended-articles .imgContainer--full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__infoHeading {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 8px;
}

.card__infoData {
  width: 60%;
  display: flex;
  align-items: center;
}

.card__imgTag2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #0000007e;
  color: #ffffff;
  font-size: 12px;
  line-height: 26px;
}

.tour .card__calender span {
  font-size: 12px;
}

.mb-xs {
  margin-top: 16px;
}
.mb-xs + .card__price {
  font-size: 16px;
  margin-top: 20px;
}

.card__price {
  margin-top: 10px;
  font-size: 16px;
}

.card__price--compact {
  font-weight: 100;
}

.text--smallPrice {
  font-size: 16px;
}

.card__priceTilde {
  margin: 0;
}

.tagList {
  margin-top: 16px;
}

.mvNav__item--iconLeft>.mvNav__icon {
  left: 15%;
}

.imgContainer--full {
  margin-bottom: 0;
}

.section-banner {
  margin-top: 40px;
}

.banner__wrap .grid-row {
  justify-content: center;
}

.rec-souvenir .heading--sm {
  margin: 16px 0 8px;
}

.rec-souvenir .slick-track {
  display: flex !important;
}

.rec-souvenir .slick-initialized .slick-slide {
  height: inherit !important;
}

.mvNav__item {
  padding: 5px 12px;
}

.js-ssi {
  display: none;
}

.js-ssi.is-active {
  display: block;
}

.js-ssi.no-content {
  display: none;
}

.is-windows.is-chrome .tagList__text {
  line-height: 1.5;
  padding: 3px 10px 2px;
}

.modalNoScroll {
  overflow: hidden;
}

.sightseeing .grid-col3 {
  padding: 0;
}

.sightseeing__inner {
  padding: 0 8px 16px;
}

.product__list--notes span {
  font-size: 12px;
}

.slideCardList--col4 {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.slideCardList__item--col4{
  margin-right: 12px;
}

.slideCardList--col4 .is-hidden, .grid-row .is-hidden{
  display: none;
}

[data-display='false'] {
  display: none !important;
}
