@media screen and (max-width:767px) {
  #hisApp {
    overflow-x: hidden;
    padding-bottom: 48px;
  }

  .mvNav__item--iconLeft>.mvNav__icon {
    left: unset;
    top: 11px;
  }

  .mvNav__item.mvNav__item--iconLeft {
    padding-left: 0;
  }

  .mvNav__item--dropdown {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }

  .mvNav__dropdown {
    font-size: 12px;
    background-color: #fff;
    color: #333;
    width: 100px;
    border-radius: unset;
    padding: 11px 0;
    position: relative;
    bottom: 50%;
    transform: translateY(-50%);
  }

  .mvNav__dropdown::after {
    top: 73%;
  }

  .mvNav__dropdown-list {
    top: 0;
    left: 20%;
  }
  
  .mvNav__item {
    padding: 40px 0px 5px;
    font-size: 0.73rem;
  }

  .mvNav__list {
    padding: 0;
  }

  .mvNav {
    padding: 2px 0;
  }

  .mvNav--bgWhite {
    border-bottom: 1px solid #333;
  }

  .js-nav-fallback {
    height: 87.06px
  } 

  .search-wrap .section__container {
    padding: 0;
  }

  .country-box-inner {
    margin: 0;
  }

  .tabs-menu01 ul li a:before {
    display: none;
  }

  .js-bannerSlider .imgContainer--full {
    width: 100%;
    height: 100%;
  }

  .js-bannerSlider .bnrList__link {
    width: 100%;
    height: 100%;
  }

  .js-bannerSlider .bnrList__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .js-bannerSlider .gridCarousel__dots {
    padding-top: 0;
  }

  .banner .section__container {
    padding-top: 13px;
  }

  .slideCardList__container {
    padding: 0 24px;
    width: 100%;
  }

  .slideCardList--col4 {
    flex-wrap: unset;
    padding: 0;
    margin: 0;
  }

  .slideCardList__item--col4 {
    margin-right: 26px;
  }

  .slideCardList__item--col4:last-child {
    margin-right: 0;
  }

  .tour .section__container {
    padding-top: 9px;
  }

  .button {
    max-width: 255px;
  }

  a.button.button--twoLine {
    padding: 0;
    margin-top: 48px;
  }

  .button[class*='--icon-'] {
    background-size: 34px 34px;
  }

  .grid-col2__slider__wrap {
    width: 108%;
    overflow-x: scroll;
    padding: 0 24px 0 0;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 60px;
  }

  .grid-col2__slider__wrap .grid-col2__slider__inner-wrap {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    padding: 0 24px;
  }

  .grid-col2__wrap {
    flex-wrap: nowrap;
    width: auto;
    padding-bottom: 10px;
    padding: 0 14px 10px 0;
  }

  .grid-col2__wrap .grid-col2__list {
    min-height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 140px;
    border: 1px solid #95989A;
    border-radius: 4px;
  }

  .grid-col2__wrap .grid-col2__list > a .grid-col2__title {
    font-size: 18px;
    display: unset;
  }

  .grid-col2__wrap .grid-col2__list > a {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right 1px center;
    padding: 0 10px;
    border: unset;

  }

  .airticket .grid-col2__wrap .grid-col2__list > a .grid-col2__title {
    font-size: 18px;
    text-align: center;
  }

  .grid-col2__text2 {
    font-size: 14px;
    font-weight: normal;
  }

  .grid-col2__text2 span {
    font-size: 14px;
    font-weight: 100;
  }

  .airticket-and-hotel {
    margin-top: 21px;
  }

  .airticket {
    margin-top: 51px;
  }

  .hotel {
    margin-top: 61px;
  }

  .optional-tour {
    margin-top: 31px;
  }

  .girdTextLink {
    border-bottom: 1px solid #d7d7d7;
    font-size: 16px;
    padding-bottom: 12px;
  }

  .find-travel .grid-col3:last-child .girdTextLink {
    border-color: transparent;
  }

  .girdTextLink__img {
    width: 25px;
  }

  .section-banner {
    margin-top: 7px;
  }

  .expand-button-target {
    max-height: 400px;
    transition: max-height 0.5s;
    overflow: hidden;
    position: relative;
  }

  .expand-button-target--gradient::before {
    content: '';
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 10px;
    background-image: linear-gradient(rgb(255 255 255 / 5%), rgb(255 255 255 / 95%));
  }

  .expand-button-target--gradient.is-expanded::before {
    display: none;
  }

  .expand-button {
    background-image: linear-gradient(rgb(255 255 255 / 80%), rgb(255 255 255 / 100%));
    position: relative;
    padding-top: 18px;
    top: -50px;
  }

  .expand-button .align-center {
    background: #fff;
  }

  .expand-button-target.is-expanded {
    max-height: 1200px;
  }

  .expand-button.is-expanded {
    padding-top: 0;
    top: 0;
  }

  .js-button-expand.is-expanded {
    background-image: url(https://www.his-j.com/cmn/icon/icon_arrow_top.svg);
  }

  .sightseeing-spot {
    padding: 24px 0;
  }

  .sightseeing .section__container {
    margin-top: 0;
  }

  .gridCarousel__dots li.slick-active button {
    background: #555555;
  }

  .rec-souvenir {
    margin-top: 80px;
  }

  .recommend-articles-desc {
    display: flex;
    justify-content: space-between;
  }

  .recommend-articles-desc p {
    width: 65%;
    font-size: 14px;
  }

  .recommend-articles-desc-img {
    width: 30%;
    height: 98px;
    border-radius: 4px;
    overflow: hidden;
  }

  .recommend-articles-desc-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .recommended-articles .heading--sm {
    padding-right: 40px;
    background-image: url(https://www.his-j.com/cmn/icon/icon_arrow_right.svg);
    background-position: right 0 center;
    background-repeat: no-repeat;
    background-size: 29px 29px;
  }

  .recommended-articles .grid-col4 {
    border-bottom: 1px solid #d7d7d7;
  }

  .recommended-articles .grid-col4:last-child {
    border-color: transparent;
  }

  .related-info .grid-col3:last-child a {
    border-color: transparent;
  }
  
  .other_city-link {
    height: 70px;
  }

  .other-city .grid-col6 {
    width: calc(100%/3);
  }

  .other-city .grid-row--noGutter>.grid-col6 {
    padding: 0 3px 5px;
  }

  .departure-info a.button.button--twoLine {
    position: relative;
    padding-top: 15px;
    margin-top: 20px;
  }

  .departure-info a.button.button--twoLine::before {
    content: attr(data-before);
    position: absolute;
    top: 5px;
  }

  .departure-info a.button.button--twoLine.is-expanded {
    padding-top: 0;
  }

  .departure-info a.button.button--twoLine.is-expanded::before {
    display: none;
  }

  .departure-info .tableList{
    font-size: 12px;
  }

  .other-city .expand-button-target {
    max-height: 150px;
    transition: max-height 0.3s;
  }

  .other-city .expand-button-target.is-expanded {
    max-height: 1000px;
  }

  .other-city .expand-button {
    padding-top: 0;
    top: 0;
  }
  
  .airline-list {
    margin-top: 19px;
  }

  .airline-list .grid-col4:last-child a {
    border-color: transparent;
  }

  .coupon-info.bgGray {
    margin-top: 0;
    padding-top: 14px;
  }

  #couponInfo .button {
    padding: 25px 23px 25px 10px;
    margin-bottom: 18px;
  }

  .hide-overflow {
    overflow: hidden;
  }
  
  .sightseeing .align-center {
    margin-top: 0;
  }

  .section-button {
    margin-top: 0;
  }

  .section__container {
    margin-top: 26px;
    padding-top: 0;
  }

  .section__container.tour {
    margin-top: 41px;
  }

  .section__container.search-box {
    margin-top: 0;
  }

  .banner-2 .grid-col6 {
    padding: 0 8px 8px;
  }

  .card__infoHeading {
    width: 30%;
  }

  .card__infoData {
    width: 70%;
  }

  .goTop img {
    width: unset;
  }
}